[submodule "IBM-Data-Science-Professional-Certificate/Applied Data Science Capstone (Final Project)"]
	path = IBM-Data-Science-Professional-Certificate/Applied Data Science Capstone (Final Project)
	url = git@github.com:Vsevolod-Muronets/Applied-Data-Science-Capstone.git
